@import 'constants';

@mixin full-height {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#home {
  @include full-height;

  background: url('../images/home/evgeny-lazarenko-8HknSpvc1CU-unsplash.jpg');
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  justify-items: start;
  font-size: calc(10px + 2vmin);
  color: white;

  div {
    align-self: center;
    text-align: left;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

nav {
  width: 100%;
  background-color: $neutral;
  color: $base-dark;
  text-align: left;

  ol {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
  }

  li {
    display: inline-block;

    &::after {
      padding: 0 10px;
      content: '|'
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

#about {
  @include full-height;
  
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    justify-items: center;

    @media only screen and (max-width: 650px) {
      grid-template-columns: 100%;
    }

  }

  #profile {
    max-width: 50%;
    border-radius: 50%;
  }

  #tech-list-container {
    width: 100%;
    
    #tech-list {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(auto, 75px));
    }

    .tech {
      width: 100%;
    }
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
