@import 'constants';

// Bulma styles
// @import '../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../node_modules/bulma/sass/components/navbar.sass';
// @import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/bulma.sass";



@mixin full-height {
  min-height: 100vh;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

#home {
  @include full-height;

  background: url('../images/home/evgeny-lazarenko-8HknSpvc1CU-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;

  p {
    margin: 0 10px;
    font-style: italic;
    font-weight: 500;
  }
}

nav {
  width: 100%;
  background-color: $neutral;
  color: $base-dark;
}

section#about {
  // @include full-height;
  // padding: 100px 0;
  line-height: 2em;

  .hero.is-fullheight  {
    padding: 5% 10%;
  }
  
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    justify-items: center;

    @media only screen and (max-width: 650px) {
      grid-template-columns: 100%;
    }

  }

  #profile {
    max-width: 50%;
    border-radius: 50%;
    border: dotted $primary 2px;
  }

  #tech-list-container {
    width: 100%;
    
    #tech-list {
      display: flex;
      flex-direction: column;
      // display: grid;
      // gap: 5px;
      // grid-template-columns: repeat(auto-fill, minmax(auto, 75px));

      .tech {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        // line-height: 1em;
      }
    }

    .tech {
      width: 100%;
    }
  }
}

#projects-list {
  // @include full-height;
  // @include center;
  
  .title.is-5 {
    margin: 0;
  }

  .content {
    background-color: rgba(2, 66, 47, 0.575);
    color: white;
  }

}

#blogs-list {
  @include full-height;
  @include center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
