@import 'constants';

// Bulma styles
@import "../../node_modules/bulma/bulma.sass";

// Mixins
@mixin full-height {
  min-height: 100vh;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

#home {
  @include full-height;

  background: url('../images/home/evgeny-lazarenko-8HknSpvc1CU-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;

  p {
    margin: 0 10px;
    font-style: italic;
    font-weight: 500;
  }
}

nav {
  width: 100%;
  background-color: $neutral;
  color: $base-dark;
}

section#about {
  line-height: 2em;

  .hero.is-fullheight  {
    padding: 5% 10%;
  }
  
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    justify-items: center;

    @media only screen and (max-width: 650px) {
      grid-template-columns: 100%;
    }

  }

  #profile {
    max-width: 50%;
    border-radius: 50%;
    border: dotted $primary 2px;
  }

  #tech-list-container {
    width: 100%;
    
    #tech-list {
      display: flex;
      flex-direction: column;

      .tech {
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
      }
    }

    .tech {
      width: 100%;
    }
  }
}

#projects-list {  
  .title.is-5 {
    margin: 0;
  }

  .card .content {
    background-color: rgba(2, 66, 47, 0.575);
  }

  .modal-content {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;

    .image {
      position: unset;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.box {
      padding: 0;
    }
  }
}

#blogs-list {
  @include full-height;
  @include center;

  .card {
    border-radius: 6px;

    img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
